<div style="height:150px;text-align:center;vertical-align: middle;">
  <table class="centPorcent"><tr>
    <td>
      <img style="vertical-align: middle;" src="images/aperture.png" height="75"/>
      <span class="titreAccueil">
        {{donnee.identity.firstname}} {{donnee.identity.lastname}} {{donnee.identity.age}}
      </span>
    </td>
  </tr></table>
</div>
<div>
  <h1>Bienvenue !</h1>
  <p>
    Bienvenue sur le site personnel de {{donnee.identity.firstname}} {{donnee.identity.lastname}}, {{donnee.identity.age}} étudiant en informatique à Polytech Nice Sofia. Vous trouverez sur ce site mon CV ainsi que les projets que j'ai réalisés. Ce site vous permettra aussi de prendre contact avec moi.
  </p>
</div>
